.popular-models {
  background-color: var(--appYellow);
}

.popular-models__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.7rem 0;
  text-align: center;
}

.popular-models__cards-wprapper {
  padding: 4rem 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.14rem;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .popular-models__cards-wprapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .popular-models__container > h2 {
    font-size: 1.57rem;
  }
}
