.about-company {
  position: relative;
}

.about-company__container {
  display: flex;
}

.about-company__rightSide {
  width: 28rem;
}

.about-company__image-container {
  background-image: url("../../../assets/images/header-section/kitchen-page.png");
  background-color: burlywood;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 65%;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.about-company__info-block {
  display: flex;
  flex-direction: column;
  flex: 5;
}

/* header */
.about-company__info-block-header {
  display: flex;
  flex-direction: column;
  max-width: 585px;
  padding: 4rem 30px 5rem 0;
}

.about-company__info-block-header > :nth-child(1) {
  font-size: 2.5rem;
  padding: 0;
}

.about-company__info-block-header > :nth-child(2) {
  font-size: 35px;
  font-weight: 700;
  color: var(--appYellow);
  padding: 0 0 1.5rem 0;
}

.about-company__info-block-header > :nth-child(3) {
  font-size: 18px;
}

/* main */
.about-company__info-block-main {
  display: flex;
  padding: 0 2rem 2.8rem 0;
  flex-wrap: wrap;
  height: 100%;
}

/* footer */
.about-company__info-block-footer {
  display: flex;
  align-items: center;
  padding: 0 4rem 3rem 0;
  gap: 2.14rem;
}

.about-company__footer-btn {
  flex: 3;
}

.about-company__gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  text-align: center;
  cursor: pointer;
}

.about-company__gift > img {
  width: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .about-company__image-container {
    position: static;
  }

  .about-company__rightSide {
    width: 0;
  }

  .about-company__info-block-header {
    max-width: 100%;
    padding: 2rem 0  0 0;
    margin: 0 0 3rem 0;
  }

  .about-company__info-block-main {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
  .about-company__info-block-header > :nth-child(1) {
    font-size: 2rem;
  }
  .about-company__info-block-header > :nth-child(3) {
    font-size: 1.2rem;
  }
 .about-company__info-block-footer {
  flex-direction: column;
  width: 100%;
  padding: 0 0 4rem 0;
 }

 .about-company__info-block-main {
  margin: 0 0 2rem 0;
}
}

@media screen and (max-width: 375px) {


}

