.header-section {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.header-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header-section__logo {
    width: 12rem;
}

.header-section__navbar {
  display: flex;
  justify-content: space-between;
}

.header-section__navbar-container {
    padding: 0 1.6rem;
  width: 100%;
}
